html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: salmon;    
}
#renderCanvas {
    touch-action: none;
    width: 80%;
    height: 80%;
}
.header {
    display:flex;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
    /* background-image: url("images/textures/skybox/skybox_nx.jpg") */
}