/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

html, body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    background: radial-gradient(circle, #1C2541, #3A506B);
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    width: 100%;
}

section {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

hr {
    margin: 0.5rem 0;
}

/* Layout Styles */
.main-container {
    padding: 2rem;
}

#contentContainer {
    margin-top: 20px;
}

#contentContainer li {
    padding-left: 1rem;
    list-style-position: inside;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#passions-list .list-container {
    align-self: flex-start;
}

#passions-list li {
    list-style-type: square;
}

ul ul {
    padding-left: 1.5rem;
}

/*Navigation*/
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333; /* original */
    flex-wrap: wrap;

}

/* Navbar links */
.navbar a {
    padding: 14px 20px;
    display: block;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#sim-link {
    padding: 10px;
    border: 2px solid goldenrod;
    color: white;   
    text-decoration: none;
}

/*Button Styles */
#content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#content-buttons button {
    margin: 2px 5px;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    transition-duration: 0.7s;
}

#content-buttons button:hover {
    background-color: grey;
}

button.active {
    background-color: #4ca450;
    color: white;
}

/* Utility Classes */
.resized-image {
    border-radius: 50%;
    object-fit: cover;
    width: 230px;
    height: 230px;
}

/* Other Styles */
#renderCanvas {
    width: 1200x;
    height: 800px;
    touch-action: none;
}