html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    
    
    background-color: #000;
    color: rgb(255, 255, 255);    
}
#renderCanvas {
    touch-action: none;
    width: 80%;
    height: 80%;
}
.header {
    display:flex;
    justify-content: center;
    align-items: center;
}
h1
{
    text-align: center;
}